@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Temel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right, #b3cde0, #f1e3dd); /* Arka plan gradienti */
}

/* Ana Div */
.main-div {
    min-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    padding: 20px;
}

/* Başlık Stilleri */
#heading {
    text-align: center;
    color: #317773; /* Yeşil ton */
    letter-spacing: 2px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Not Ekleme Alanı */
.addNote {
    max-width: 700px; /* Genişlik sınırı */
    margin: auto; /* Ortalar */
    background-color: #e8f5e9; /* Pastel yeşil */
    border-radius: 20px;
    border: 1px solid #81c784; /* Kenar rengi */
    padding: 30px;
}

/* Giriş Alanı */
#input-title,
#input-text {
    width: 100%; /* Tam genişlik */
    padding: 10px;
    margin-top: 10px; /* Üstte boşluk */
    border: 2px solid #b0bec5;
    border-radius: 10px;
}

/* Buton Stili */
#add-btn {
    margin-top: 15px; /* Üstte boşluk */
    width: 100%; /* Tam genişlik */
    padding: 10px;
    background-color: #81c784;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #66bb6a; /* Hover efekti */
}

/* Notları Gösterme Alanı */
#showNotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Esnek düzenleme */
    margin-top: 20px;
}

/* Her Not Stili */
.note {
    background-color: #edf3ed; /* Hafif beyaz */
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 300px; /* Not genişliği */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
}

/* Not Başlığı ve Metni */
#show-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#show-text {
    font-size: 16px;
    height: 80px; /* Yükseklik sınırı */
    overflow-y: auto; /* Kaydırma çubuğu */
}

/* Silme Butonu */
.delete-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e53935; /* Hover efekti */
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
    .note {
        width: 90%; /* Daha dar ekranlarda genişliği artır */
    }
}
